<h1><%= link_to "Create a New Budget", new_user_budget_path %></h1>


<h1>Active Budgets</h1>
<% current_user.budgets.active.each do |budget| %>
  <%= link_to budget.name, budget %>
<% end %>

<h1>Inactive Budgets</h1>
<% current_user.budgets.inactive.each do |budget| %>
   <%= link_to budget.name, budget %>
<% end %>

<h1>Completed Budgets</h1>

<% current_user.budgets.completed.each do |budget| %>
   <%= link_to budget.name, budget %>
<% end %>
