<h1><%= link_to "Create a New Budget", new_budget_path %></h1>


<h1>Active Budgets</h1>
<% @active_budgets.each do |budget| %>
  <%= link_to budget.name, budget %>
<% end %>

<h1>Inactive Budgets</h1>
<% @inactive_budgets.each do |budget| %>
   <%= link_to budget.name, budget %>
<% end %>

<h1>Completed Budgets</h1>

<% @completed_budgets.each do |budget| %>
   <%= link_to budget.name, budget %>
<% end %>
