<div class="center">
  <%= form_for([category, expense], :html => {class: "form-inline"})  do |f| %>
      <div id="error_explanation">
        <h2 id="error_message"></h2>
        <ul id="error_list"></ul>
      </div>

    <div class="inline">
      <%= f.text_field :description, :placeholder => "Description" %>
    </div>

    <div class="inline">
      <%= f.text_field :cost, :placeholder => "Cost"  %>
    </div>

    <%= f.submit class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('form').on('submit', function(event) {
      event.preventDefault();

      var expenseParams = $(this).serialize();
      var expensePost = $.post(this.action, expenseParams);

      expensePost.done(function(data) {
        var category = data;
        $('#cost').text("$" + category.subtotal.toFixed(2));
        $('#current').text(category.current_percent + "%");
        $('#total').text(category.total_percent + "%");

        $('tbody').empty();
        $('form')[0].reset();

        var expenses = category.expenses
        for (var i = 0; i < expenses.length; i++) {
          var expense = expenses[i];
          var description = '<th scope="row">' + expense.description + '</th>';
          var percentage = '<td>' + expense.percentage + '%</td>';
          var cost = '<td>$' + expense.cost.toFixed(2) + '</td>';
          var deleteLink = '<td><a rel="nofollow" data-method="delete" href="/expenses/' + expense.id + '">Delete Expense</a></td>';
          var tableRow = ['<tr>', description, percentage, cost, deleteLink, '</tr>'].join("")
          $('tbody').prepend(tableRow);
        }
      }).fail(function(error) {
        $('#error_message').text("Please enter valid information.");
        $('#error_list').empty();
        errors = JSON.parse(error.responseText).error;
        for (var j = 0; j < errors.length; j++) {
          var error = errors[j];
          $('#error_list').append('<li>' + error + '</li>');
        }
      });
    });
  });
</script>
